form {
    background-color: darkseagreen;
    color:black;
    font-family: serif;
    width: 300px;
    padding: 20px;
}
form input{
    margin-bottom: 10px;
}
form label {
    display:block;
    margin-bottom: 5px;
}

form input[type='text'],
form input[type='email'],
form input[type='number'],
form textarea,
form select {
    background-color: darkkhaki;
    color: white;
    border-width: 2px;
    border-color: darkkhaki;
}
form select:focus,
form input:focus,
form textarea:focus {
    background-color: gray;
    border: 2px solid green;
    outline: none,    
}
form label[for*='male']{
    display: inline-block;
}      

form label[for="agreement"]{
    display:inline;
    padding-bottom: 0px;
    margin-bottom: 0px;
}