div.block {
    width: 130px;
    height: 130px;
    background-color: aqua;
    display: inline-block;
    margin: 0px ;
    padding: 0px;
}
p.circle {
    border: 2px solid black;
    padding: 0px;
    border-radius: 40px 40px 40px 40px;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    
}
.five, #box1
 {
    background-color: red;
}
 .six, #box2
 {
    background-color: blue;
}
.four, #box3
 {
    background-color: green;
}
.eight, #box4
 {
    background-color: yellow;
}
.nine, #box5
 {
    background-color: black;
}
.seven, #box6
 {
    background-color: orange;
}
.three, #box7
 {
    background-color: purple;
}
.two, #box8
 {
    background-color: grey;
}
.one, #box9
 {
    background-color: pink;
}
#box2 {
    position:relative;
    left:-80px;
}
#box3 {
    position:relative;
    left:-160px;
}
#box4 {
    position:relative;
    left:-636px;
    top:132px;
}
#box5 {
    position:relative;
    left:-715px;
    top:132px;
}
#box6 {
    position:relative;
    left:-795px;
    top:132px;
}
#box7 {
    position:relative;
    left:-1270px;
    top:264px;
}
#box8 {
    position:relative;
    left:-1350px;
    top:264px;
}
#box9 {
    position:relative;
    left:-1430px;
    top:264px;
}

