@font-face {
	font-family: comic;
	src: local("Verdana"), url(http://adres/plik.ttf) format("truetype");
}
body {
    margin: 0;
}

.main-header {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 1.5em;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:url(../obrazy/man-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 5vh;

    }

    /*Responsive css*/

    @media (max-width: 1140px) {
        .main-header {
            background-image: url(../obrazy/man-2.jpg);
            height: 70vh;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: 0.8em;
            text-align: left;
            font size: 0.8em;
        }
    }

    @media (max-width: 992px) {
        .main-header {
            height: 50vh;
            background-image: url(../obrazy/man-1.jpg);
            
        }
        .inscription {
            margin-top: 60vh;
            color: black;
            font-size: 120%;
            margin-right: 17%;
            text-align: center;
            
           
        }
    }