.box {
    height:200px;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 3s;
}
#box1 {
    background-color: aqua;
    
}

#box2 {
    background-color: darkcyan;
}

#box3 {
    background-color: salmon;
}
#box1:hover {
    width:300px;
}
#box2:hover {
    height:300px;
}
#box3:hover {
    width: 300px;
    height: 300px;
}