body {
    margin: 0px;
    font-size: 150%;
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: inline-block;
    width: 100vw;
    text-align: center;
    color:#ffffff;
    background-color: red;
    text-transform: uppercase;
    box-sizing: border-box;
}
div.container {
    display:flex;
    flex-direction: row;
    height: 40vh;
    box-sizing: border-box;
    
    
}
div.left {
    background-color: green;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 25%;
    
}
div.center {
    background-color: skyblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 50%;
    overflow:hidden;
}
div.right {
    background-color: pink;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 25%;
}
footer {
    display: inline-block;
    width: 100vw;
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase; 
    box-sizing: border-box;
    
}

/*Responsive css*/



@media (max-width:992px) {
        div.container {
        height: 80vh;
        flex-wrap: wrap;
        
   /* }
    div.center {
    
    flex-basis: 35%;
    
}
    div.left {
    
    flex-basis: 15%;
    
}
    div.right {
    
    flex-basis: 50%;*/
    
}
    
}
@media (max-width:768px) {
    div.container {
        flex-direction: column;
        height: 80vh;
    }
    div.left {
        flex-basis: none;
    }
    div.center {
        flex-basis: none;
    }
    div.right {
        flex-basis: none;
    }



