body {
    margin: 0px;
    font-size: 150%;
    height: 50vh;
    box-sizing: border-box;
}

header {
    display: inline-block;
    width: 100vw;
    text-align: center;
    color:#ffffff;
    background-color: red;
    text-transform: uppercase;
    box-sizing: border-box;
}
header p {
    margin: 0;
    padding: 10px;
}
div.container {
    display:flex;
    flex-direction: row;
    height: 40vh;
    box-sizing: border-box;
}
div.container p {
    margin: 0;
}
div.left {
    background-color: green;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 25%;
    
}
div.center {
    background-color: skyblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 50%;
    overflow:hidden;
}
div.right {
    background-color: pink;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 25%;
}
footer {
    display: inline-block;
    width: 100vw;
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase; 
    box-sizing: border-box;
    
}
footer p {
    margin: 0;
    padding: 10px;
}

/*Responsive css*/



@media (max-width:992px) {
        div.container {
        flex-wrap: wrap;
            width: 100vw;
            height:88vh;
    }
        
   
    div.center {
    order: -1;
    flex-basis: 70%;
    
}
    div.left {
    
    flex-basis: 30%;
    
}
    div.right {
    
    flex-basis: 100%;
    
}
    
}
@media (max-width:768px) {
    div.container {
        flex-direction: column;
        height: 87vh;
        flex-wrap:nowrap;
        width: 100vw;
        align-content: stretch;
    }
    div.left {
        flex-basis: 33.3%;
    }
    div.center {
        flex-basis: 33.3%;
    }
    div.right {
        flex-basis: 33.3%;
    }
    body {
        height: 100vh;
    }



